@charset "utf-8";
/* CSS Document */
.share p{
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    font-size: 16px;
    font-family: "Open+Sans", sans-serif;
    text-transform: uppercase;
    color: #7f8c8d;
}
.share {
  width: 270px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 10px;
  padding-left: 20px;
  background-color: #ecf0f1;
}

.share b {
  margin-right: 15px;  
  font-weight: normal;
  color: #7f8c8d;
  text-transform: uppercase;
}

.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
   

  vertical-align: middle;

  background: #bdc3c7 url("img/social50x50.png") no-repeat;
}

.social-vk {
background: #bdc3c7 url("img/social50x50.png") no-repeat;
  background-color: #6d8fb3;
  background-position: -55px -5px;
}
.social-vk:hover {
background: #bdc3c7 url("img/social50x50.png") no-repeat;
  background-color: #6d8fb3;
  background-position: -5px -5px;
}

.social-fb {
    background: #bdc3c7 url("img/social50x50.png") no-repeat;
  background-color: #526da3;
  background-position: -55px -55px;
}
.social-fb:hover {
    background: #bdc3c7 url("img/social50x50.png") no-repeat;
  background-color: #526da3;
  background-position: -5px -55px;
}

.social-tw {
    background: #bdc3c7 url("img/social50x50.png") no-repeat;
  background-color: #73bfe6;
  background-position: -55px -105px;
}
.social-tw:hover {
    background: #bdc3c7 url("img/social50x50.png") no-repeat;
  background-color: #73bfe6;
  background-position: -5px -105px;
}
.mail-box {
    background: #bdc3c7 url("img/social50x50.png") no-repeat;
  background-color: #73bfe6;
  background-position: -55px -205px;
}
.mail-box:hover {
    background: #bdc3c7 url("img/social50x50.png") no-repeat;
  background-color: #73bfe6;
  background-position: -5px -205px;
}
.adress {
    background: #bdc3c7 url("img/social50x50.png") no-repeat;
  background-color: #73bfe6;
  background-position: -55px -255px;
}
.adress:hover {
    background: #bdc3c7 url("img/social50x50.png") no-repeat;
  background-color: #73bfe6;
  background-position: -5px -255px;
}
.phone a{
    color: #29AEE3;
    text-decoration: none;
}
.phone a:hover{
    color: #29AEE3;
    filter: saturate(2);
    text-decoration: none;
}
